# Dependencies
node_modules/

# Production
dist/

# Other files and directories to ignore
.env
coverage/
logs/


# cloudformation
cloudformation-template-create-stack.json
cloudformation-template-update-stack.json
serverless-quotes-api.zip
serverless-state.json
